footer{
    text-align: center;
    display: grid;
    /* justify-content: center; */
    background-color: black;
    opacity: 0.8;
    border-radius: 38px;
    width: 380px;
    /* height: 50px; */
    margin: auto;
    margin-top: 35px;
    margin-bottom: 20px;
}

.footer-texto, .copyrigth{
    font-size: 18px;
    color: #f7d354;
    font-weight: 300;
    /* align-items: center; */
}